.clear {
  clear: both;
}

i {
  width: 1em;
  height: 1em;
  display: block;
  cursor: pointer;
}

body {
  background: #666666;
  font-family: 'Merriweather', serif;
  font-size: 14px;
  line-height: 1.4;
  color: #000000;
  padding: 0;
  margin: 0;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #666666;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
  display:inline;
}

#infscr-loading {
  position: fixed;
  bottom: 20px;
  left: 50%;
  width: 200px;
  padding: 10px;
  text-align: center;
  background: #666666;
  border-radius: 4px;
  margin-left: -100px;
}

#infscr-loading em {
  color: #000000;
  opacity: 1;
}

#infscr-loading img {
  display: none;
}

header.fixed {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  height: 300px%;
  top: -210px;
  left: 0px;
  z-index: 999;
  opacity: .35;
}

header.fixed:hover {
  top: 0;
  left: 0;
  opacity: 1;
}

header.top {
  background-color: #FFFFFF;
}

header.top p {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

.searchbox {
  padding: 10px 0;
}

.searchbox input {
  padding: 10px;
  display: block;
  border-radius: 5px;
  border: none;
  margin: 0 auto;
  width: 90%;
}

header.top .searchbox input {
  width: 300px;
}

.header-inner {
  padding: 20px;
  margin-top: 10px;
}

.header-inner .avatar {
  background: transparent url('http://38.media.tumblr.com/avatar_d98ddf512f72_128.png') top left no-repeat;
  display: none;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 128px;
  height: 128px;
  margin: 0 auto;
  display: none;
}

.header-inner h1 {
  color: #000000;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  font-weight: 700;
  padding: 20px 40px;
  -webkit-font-smoothing:antialiased;
  margin: 0;
  padding: 10px 0 0;
}

.header-inner p {
  text-align: center;
  width: 250px;
  margin: 15px auto 25px auto;
}

.header-inner p a {
  border-bottom: 1px solid #000000;
}

.header-inner p a {
  border-bottom: 1px solid #666666;
}

.header-inner nav ul {
  overflow: auto;
}

.header-inner nav ul li {
  display:inline;
  text-align:center;
}
        
.header-inner .social-links {
  text-align: center;
  list-style-type: none;
  margin-bottom: 30px;
}

.header-inner .social-links ul {
  overflow: hidden;
}

.header-inner .social-links ul li {
  display: inline-block;
}

.header-inner .social-links a {
  padding: 0 5px;
  font-size: 18px;
}

.copy {
  top: 15px;
  left: 49%;
  position: fixed;
  font-size: 15px;
  text-align: center;
  opacity: 1;
  color: #fff;
  z-index: 1;
}

article {
  width: 100%;
  position: relative;
}

article .photo {
  position: relative;
}

article .photo .noise,
article .photoset .noise {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

article .pad {
  padding: 40px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
}

article .pad a {
  color: #fff;
}

article .pad a:hover {
  color: #fff;
}

article .inner {
  position: relative;
  background-color: transparent;
}

article h1 {
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding: 0 0 20px 0;
  text-transform: uppercase;
}

article .video iframe, 
article .video object, 
article .video embed, 
article .video video {
  width: 100%;
  height: 100%;
}

article .video .pad {
  padding-top: 20px !important;
}

article .photo footer, 
article .photoset .pad {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

article .photoset .pad {
  padding: 0 !important;
}

footer ul {
  margin: 0;
  padding: 0;
}

footer ul li {
  float: right;
  text-align: right;
  margin-left: 5px;
}

footer .desc {
  margin: 0;
  padding: 0;
}

footer .desc p {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  margin: 0;
  padding: 0;
  opacity: .35;
}

footer .time {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  font-style: italic;
  opacity: .35;
}

.scroll {
  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  padding: 5px;
  cursor: pointer;
}

#notes {
  display: none;
}

.tags {
  padding-top: 10px;
}

.tags li a {
  display: block;
  padding: 5px;
  background-color: #FFFFFF;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 10px;
}

.audioplr .player li {
  padding: 6px 4px 4px;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 10px;
}

::-webkit-input-placeholder {color:#FFFFFF;}
:-moz-placeholder {color:#FFFFFF;}
::-moz-placeholder {color:#FFFFFF;}
:-ms-input-placeholder {color:#FFFFFF;}
a,
a:hover,
header,
header:hover {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

iframe {
  display: none !important;
}

@media only screen and (max-device-width: 480px) {
  .header-inner {
    padding: 20px;
    margin-top: -33px;
}
}