body { 
  width: 100%;
  height: 100%;
  background: #FFF;
  max-width: 100%;
  overflow-x: hidden;
}

first {
  width: calc(100% + 40px);
  font-family: 'Archivo Black', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #F4F200;
  font-size: 175px;
  line-height: 400px;
  letter-spacing: 40px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  overflow: hidden;
  left: -40px;
  top: -95px;
}

last {
  width: calc(100% + 40px);
  font-family: 'Archivo Black', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #F4F200;
  font-size: 175px;
  line-height: 400px;
  letter-spacing: 40px;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
  top: 370px;
  left: 00px;
}

final {
  width: calc(100% + 40px);
  font-family: 'Archivo Black', sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #F4F200;
  font-size: 175px;
  line-height: 400px;
  letter-spacing: 40px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  left: -40px;
  bottom: 0px;
}

.boring {
  font-family: 'Montserrat', serif;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 5px;  
  text-align: center;
  text-transform: uppercase;
}

.commentary {
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  color: #151515;
  border: 2px dashed #151515;
  margin-top: 75px;
  margin-bottom: 75px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.commentary:hover {
  color: #990099;
  border: 2px dashed #990099;
}

h1 {
  font-family: 'Archivo Black', sans-serif;
  color: #151515;
  font-size: 25px;
  line-height: 20px;
  letter-spacing: 5px;
  padding-bottom: 20px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  font-family: 'Archivo Black', sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
  font-size: .75em;
  line-height: 3em;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 40px;
  color: #151515;
  position: relative;
  text-align: center;
}

h2 a {
  text-transform: uppercase;
  text-decoration: none;
  color: #151515;
}

h2 a:hover {
  color: #990099;
}

h3 {
  font-family: 'Archivo Black', sans-serif;
  color: #151515;
  font-size: 20px;
  line-height: 15px;
  letter-spacing: 5px;
  padding-bottom: 10px;
  padding-top: 60px;
  position: relative;
  text-align: left;
  text-transform: uppercase;
}

h3:hover {
  color: #990099;
}

p {
  font-family: 'Martel', serif;
  font-size: 15px;
  line-height: 23 px;
  text-align: left;
  color: #151515;
  position: relative;
  margin-top: 20px;
}

a {
  color: #680148;
}

blockquote {
  font-family: 'Droid Serif', serif;
  color: #7DB4B5;
  font-size: 15px;
  font-style: italic;
  padding: 5px 5px;
  text-align: left;
}

img {
  display: block;
  margin: 0 auto;
  padding-bottom: 100px;
}

.container {
  width: 65%;
  margin: 25px auto 0 auto;
  padding-top: 75px;
  padding-bottom: 75px;
  overflow-x: hidden;
}

.content {
  width: 60%;
  margin: 0 auto -50px auto;
  padding-top: 0px;
  padding-bottom: -75px;
  overflow-x: hidden;
}