body { 
  width: 100%;
  height: 100%;
  background: #E1E8ED url('../../img/make/twitter-400.png') no-repeat center top;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #292F33;
  font-size: 85px;
  font-weight: 700;
  line-height:100px;
  text-transform: uppercase;
  text-align: center;
  margin: 160px auto 150px auto;
}

h2 {
  font-family: 'Droid Serif', serif;
  color: #292F33;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  margin: 92px 0 12px 0;
}

p {
  font-family: 'Droid Serif', serif;
  color: #66757F;
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 12px 0;
}

a {
  color: #292F33;
}

blockquote {
  font-family: 'Droid Serif', serif;
  color: #869097;
  font-size: 15px;
  font-style: italic;
  padding: 5px 5px;
}

.container {
  width: 65%;
  margin: 25px auto;
  padding-bottom: 75px;
}