@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900|Bungee|Bungee+Inline|Bungee+Hairline");

/* TABLE OF CONTENTS 
	
	|--	GENERAL	--|
		RESET
		BODY
		LAYOUT
		TYPE

	|-- PLUGINS	--|
		FONTAWESOME
		SLIDESHOW

	|-- PAGES	--|
		LANDING
		NOW
		ADVENTURE
		F16
		MASCULINITY
		FREELANCING
	
*/

/* RESET */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
	small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
	label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
	embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
	mark, audio, video {
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		border: 0;
		font-size: 100%;
		font: inherit;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
	}

	ol, ul {
		list-style: none;
	}

/* BODY											 */

	html, body {
		background-color: #fff;
	}

	body.is-loading-0 *, body.is-loading-0 *:before, body.is-loading-0 *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

/* LAYOUT */

	#table {
		display: table;
		position: relative;
		height: 100vh;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	#table .cell {
		display: table-cell;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

	iframe {
		display: block;
		margin: 0 auto;
	}

	/* WIDTH */
	
		#width-100 {
			width: 100%;
			margin: 0 auto;
		}

		#width-80 {
			width: 80%;
			margin: 0 auto;
		}

		#width-60 {
			width: 60%;
			margin: 0 auto;
		}

		#width-40 {
			width: 40%;
			margin: 0 auto;
		}

		.width-900px {
			width: 900px;
			margin: 0 auto;
		}

			@media screen and (max-width: 900px) {
				.width-900px {
					width: 100%;
					max-width: 100%;
				}
			}

	/* MARGIN */

		.margin-vertical-5rem {
			margin: 5rem auto;
		}

		.margin-bottom-2rem {
			margin: 0 0 2rem 0;
		}

	/* PADDING */

		.padding-vertical-5rem {
			padding: 5rem 0;
		}

		.padding-top-1rem {
			padding-top: 1rem;
		}

		.padding-top-3rem {
			padding-top: 3rem;
		}

		.padding-top-5rem {
			padding-top: 5rem;
		}

		.padding-bottom-0rem {
			padding-bottom: 0rem;
		}

		.padding-bottom-2rem {
			padding-bottom: 2rem;
		}

		.padding-bottom-5rem {
			padding-bottom: 5rem;
		}

	/* EFFECTS */

		.opacity-05 {
			opacity: 0.5;
			-moz-transition: 0.1s ease-out;
			-webkit-transition: 0.1s ease-out;
			-ms-transition: 0.1s ease-out;
			transition: 0.1s ease-out;
		}

			.opacity-05:hover {
				opacity: 1;
			}

/* TYPE */

	html {
		font-size: 16pt;
	}

	@media screen and (max-width: 1680px) {
		html {
			font-size: 12pt;
		}
	}

	@media screen and (max-width: 1280px) {
		html {
			font-size: 12pt;
		}
	}

	body, input, select, textarea {
		color: #151515;
		font-family: "Roboto", Helvetica, sans-serif;
		font-size: 1em;
		font-weight: 400;
		line-height: 1.65;
	}

	p {
		margin: 1em auto;
		font-weight: 300;
		text-align: justify;
		text-align-last: left;
	}

		p a {
			text-decoration: underline;
		}

		p.final {
			margin-bottom: 0;
			padding-bottom: 0;
		}

	a {
		border-bottom: none;
		color: inherit;
		-moz-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
		-webkit-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
		-ms-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
		transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
		text-decoration: none;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	strong, b {
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 0 auto;
		font-weight: 400;
		line-height: 1.25;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	/* TEXT STYLING */

		/* COLOUR */

			.white {
				color: #fff;
			}

			.offblack {
				color: #151515;
			}

		/* WEIGHT */

			.heavy {
				font-weight: 900;
			}
			
			.light {
				font-weight: 300;
			}

			i.light {
				opacity: 0.5;
				font-style: normal;
			}

		/* STYLE */

			.uppercase {
				text-transform: uppercase;
			}

		/* ALIGNMENT */
	
			.align-justify {
				text-align: justify;
				text-align-last: justify;
			}

			.align-justify-paragraph {
				text-align: justify;
				text-align-last: left;
			}

			.align-left {
				text-align: left;
			}

			.align-right {
				text-align: right;
			}

			.align-center {
				text-align: center;
			}

		/* LETTER SPACING */

			.letter-spacing-025rem {
				letter-spacing: 0.25rem;
			}

			.letter-spacing-05rem {
				letter-spacing: 0.5rem;
			}

			.letter-spacing-1rem {
				letter-spacing: 1rem;
			}

	/* HEADER 1 */

		h1 {
			font-size: 2.5rem;
			font-weight: 700;
		}

		@media screen and (max-width: 350px) {
			h1 {
				font-size: 2rem;
			}
		}

			h1.size-4rem {
				font-size: 4rem;
			}

			h1.size-8rem {
				font-size: 8rem;
			}

				@media screen and (max-width: 1100px) {
					h1.size-8rem {
						font-size: 10vw;
					}
				}

			h1.size-10rem {
				font-size: 10em;
			}

				@media screen and (max-width: 1100px) {
					h1.size-10rem {
						font-size: 14vw;
					}
				}

			h1.size-20rem {
				font-size: 20em;
			}

				@media screen and (max-width: 1000px) {
					h1.size-20rem {
						font-size: 30vw;
					}
				}

	/* HEADER 2 */

		h2 {
			font-size: 2rem;
			letter-spacing: 0.1rem;
		}

	/* HEADER 3 */

		h3 {
			font-size: 1rem;
			font-weight: 900;
			text-transform: uppercase;
			letter-spacing: 0.15rem;
		}

			h3.size-135rem {
				font-size: 1.35rem;
			}

	/* UNUSED HEADERS */

		h4 {
			font-size: 0.9rem;
		}

		h5 {
			font-size: 0.8rem;
		}

		h6 {
			font-size: 0.7rem;
		}

	/* BLOCKQUOTE */

		blockquote {
			padding-left: 1.25rem;
			border-left: solid 0.35rem #ddd;
			font-style: italic;
			font-weight: 300;
		}

			blockquote a {
				text-decoration: underline;
			}

	/* LIST */

		ol {
			margin: 0 0 1rem 0;
			padding-left: 1.25rem;
			list-style: decimal;
		}

		ol li {
			padding-left: 0.25rem;
		}

		ul {
			margin: 0 0 1rem 0;
			padding-left: 1rem;
			text-align: center;
			list-style: disc;
		}

		ul li {
			display: block;
			padding-left: 0.5rem;
		}

	/* UNUSED TEXT STYLES 

		sub {
			position: relative;
			top: 0.5rem;
			font-size: 0.8rem;
		}

		sup {
			position: relative;
			top: -0.5rem;
			font-size: 0.8rem;
		}

		code {
			margin: 0 0.25rem;
			padding: 0.25rem 0.65rem;
			border: solid 1px #ccc;
			border-radius: 4px;
			font-family: "Courier New", monospace;
			font-size: 0.9rem;
		}

		pre {
			margin: 0 0 1.25rem 0;
			font-family: "Courier New", monospace;
			font-size: 0.9rem;
			-webkit-overflow-scrolling: touch;
		}

		pre code {
			display: block;
			padding: 1rem 1.5rem;
			overflow-x: auto;
		}

		i.light {
			opacity: .5;
			font-style: normal;
		}

	*/

/* FONTAWESOME */

	.icon {
		position: relative;
		border-bottom: none;
		text-decoration: none;
	}

		.icon:before {
			font-family: 'FontAwesome';
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		.icon > .label {
			display: none;
		}

	ul.icons {
		padding-left: 0;
		cursor: default;
		list-style: none;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 1rem 0 0;
		}

			ul.icons li:last-child {
				padding-right: 0;
			}

			ul.icons li .icon:before {
				font-size: 1.5rem;
			}

/* SLIDESHOW */

	.slideshow-container {
		max-width: 100%;
		position: relative;
		margin: auto;
	}

	.mySlides {
		display: none;
	}

	.prev, .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		margin-top: -1.4rem;
		padding: 1rem;
		color: #fff;
		font-weight: bold;
		font-size: 1.4rem;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
		opacity: 0.5;
	}

	.next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.prev:hover, .next:hover {
		background-color: rgba(0,0,0,0.5);
		color: #fff;
		opacity: 1;
	}

	.dots {
		position: absolute;
		bottom: 0.5rem;
		width: 100%;
		padding: 0;
		text-align: center;
	}

	.dot {
		cursor: pointer;
		display: inline-block;
		height: 0.8rem;
		width: 0.8rem;
		margin: 0 0.1rem;
		padding: 0;
		background-color: transparent;
		border-radius: 50%;
		border: 1px #fff solid;
		transition: background-color 0.6s ease;
		opacity: 0.5;
	}

	.dot:hover {
		opacity: 1;
	}

	.active {
		background-color: #fff;
		opacity: 1;
	}

/* LANDING PAGE */

	#landing {
		display: table;
		position: relative;
		height: 100vh;
		width: 32rem;
		margin: 0 auto;
	}

		@media screen and (max-width: 35rem) {
			#landing {
				max-width: 100%;
				width: 100%;
			}
		}

		#landing a:hover {
			color: #A7DBFF;
		}

		#landing h1 {
			text-shadow: 0 0 5rem rgba(150, 150, 150, 1);
		}

		#landing p {
			text-shadow: 0 0 0.85rem rgba(150, 150, 150, 1);
		}

		#landing ul {
			text-align: left;
		}

	.landing-box {
		display: table-cell;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

		@media screen and (max-width: 1200px) {
			.landing-box {
			}
		}

		@media screen and (max-width: 750px) {
			.landing-box {
			}
		}

		@media screen and (max-width: 35em) {
			.landing-box {
				max-width: 100%;
				width: 100%;
				padding: 2rem;
			}
		}

		@media screen and (max-width: 350px) {
			.landing-box {
				max-width: 100%;
				width: 100%;
				padding: 1rem;
			}
		}

/* GENERIC PAGE */

	#generic a:hover {
		color: #0083d5;
	}

/* ADVENTURE PAGE */

	#adventure {
	}

		#adventure a:hover {
			color: #ff9b0d;
		}

	.adventure-menu {
		padding: 1rem;
	}

		.adventure-menu a {
			color: #ddd;
		}

	.adventure-header {
		width: 100%;
		height: 45rem;
		max-height: 1280px;
		background: url(../../img/adventure/IMG_5608-JCR-1920-grad-web.jpg) no-repeat top center;
		background-size: cover;
		margin-top: 1rem;
	}

		.adventure-header h1 {
			font-size: 10rem;
			color: #ff9b0d;
			padding-top: 0rem;
		}

				@media screen and (max-width: 1100px) {
					.adventure-header h1 {
						font-size: 14vw;
					}
				}

				@media screen and (max-width: 900px) {
					.adventure-header h1 {
						font-size: 10vw;
					}
				}

				@media screen and (max-width: 550px) {
					.adventure-intro h1 {
						padding-top: 1rem;
					}
				}

		.link-box {
			width: 60%;
			margin: 0 auto;
			text-align: justify;
			text-align-last: justify;
		}

				@media screen and (max-width: 900px) {
					.link-box {
						text-align-last: center;
					}
				}

			.link-box h3 {
				color: #ff9b0d;
				text-align: -webkit-center;
			}

				.link-box h3 a:hover {
					background-color: #ff9b0d;
					color: #fff !important;
				}
				
	.adventure-box {
		display: table-cell;
		width: 100vw;
		min-width: 100vh;
		height: 25rem;
		max-height: 1280px;
		padding: 1rem;
		vertical-align: bottom;
		opacity: 0.5;
		-moz-transition: 0.1s ease-out;
		-webkit-transition: 0.1s ease-out;
		-ms-transition: 0.1s ease-out;
		transition: 0.1s ease-out;
	}

		@media screen and (max-width: 800px) {
			.adventure-box {
				min-width: 100%;
				max-width: 100%;
				width: 100%:
			}
		}

		.adventure-box:hover {
			opacity: 1;
		}

	.box-01 {
		background: url(../../img/adventure/IMG_6821-JCR-1920-web.jpg) no-repeat center left;
		background-size: cover;
	}

	.box-02 {
		background: url(../../img/adventure/IMG_7702-JCR-1920-web.jpg) no-repeat center center;
		background-size: cover;
	}

	/* F16 PAGE */

	#f16 {
	}

	#f16 a:hover {
		color: #3ca0d3;
	}

	.f16-header {
		margin: 0px auto;
		width: 100%;
		overflow: hidden;
	}

		.f16-header h1 {
			padding: 5rem 0;
			font-family: 'Bungee Inline';
			font-size: 7rem;
			color: #f86767;
			font-weight: 400;
			line-height: 1;
		}

			@media screen and (max-width: 1200px) {
				.f16-header h1 {
					padding: 5rem 0;
					font-family: "Bungee";
					font-size: 5.5rem;
				}
			}

			@media screen and (max-width: 740px) {
				.f16-header h1 {
					padding: 5rem 0 2.5rem;
					font-family: "Bungee";
					font-size: 4rem;
				}
			}

			@media screen and (max-width: 540px) {
				.f16-header h1 {
					padding: 2rem 0;
					font-family: "Bungee";
					font-size: 2.5rem;
				}
			}

		.f16-header h3 {
			margin: 0 auto 4rem auto;
			font-family: 'Bungee Hairline';
			font-size: 2.75rem;
			color: #3ca0d3;
			font-weight: 300;
		}

			@media screen and (max-width: 1200px) {
				.f16-header h3 {
				}
			}

			@media screen and (max-width: 740px) {
				.f16-header h3 {
					font-size: 1.75rem;
				}
			}

			@media screen and (max-width: 540px) {
				.f16-header h3 {
					margin-bottom: 2rem;
					font-size: 1.75rem;
				}
			}

	iframe.f16 {
		width: 100%;
		height: 600px;
		margin-bottom: 1rem;
	}

	#f16-embed {
		display: block;
		margin: 1em auto;
		width: 900px;
		text-align: center;
	}

		@media screen and (min-width: 900px) {
			#f16-embed {
			width: 900px;
			}
		}

		@media screen and (min-width: 600px) and (max-width: 900px) {
			#f16-embed {
			width: 600px;
			}
		}

		@media screen and (min-width: 300px) and (max-width: 600px) {
			#f16-embed {
			width: 300px;
			}
		}

/* MASCULINITY PAGE */

	#masculinity {
	}

		#masculinity a {
			color: #151515;
		}

			#masculinity a:hover {
				color: #FF69B4;
			}

		#masculinity img {
			width: 100%;
		}

	.masculinity-header {
		width: 100%;
		height: 45rem;
		max-height: 1280px;
		background: url(../../img/masculinity/IMG_0683-JCR-1920-web.jpg) no-repeat top center;
		background-size: cover;
	}

		.masculinity-header h1 {
			color: #151515;
			padding-top: 0rem;
		}

			@media screen and (max-width: 550px) {
				.masculinity-header h1 {
					padding-top: 3rem;
				}
			}

/* FREELANCING PAGE */

	.freelancing-header {
		width: 100%;
		height: 100vh;
		min-height: 40rem;
		background: url(../../img/freelancing/IMG_0481-1920-web.jpg) no-repeat top center;
		background-size: cover;
		word-wrap: break-word;
	}

		.freelancing-header h1 {
			padding: 5rem 5rem 2rem 5rem;
			color: transparent;
			-webkit-text-stroke-width: 3px;
			-webkit-text-stroke-color: #ff9b0d;
			font-size: 8em;
			line-height: 1;
		}

			@media screen and (min-width: 1200px) {
				.freelancing-header h1 {
					font-size: 10rem;
				}
			}

			@media screen and (max-width: 825px) {
				.freelancing-header h1 {
					font-size: 5.5rem;
				}
			}

			@media screen and (max-width: 400px) and (max-height: 800px) {
				.freelancing-header h1 {
					font-size: 4.5em;
				}
			}

			.freelancing-header h1 span:hover {
				color: #ff9b0d;
				-moz-transition: 0.1s ease-out;
				-webkit-transition: 0.1s ease-out;
				-ms-transition: 0.1s ease-out;
				transition: 0.1s ease-out;
			}
	
		.freelancing-header h2 {
			position: absolute;
			bottom: 1rem;
			width: 100%;
			margin: 0 auto;
			color: #ff9b0d;
			text-align: center;
			opacity: 0.5;
			-webkit-transition: opacity 0.35s linear 0s;
			transition: opacity 0.35s linear 0s;
		}

			.freelancing-header h2:hover {
				opacity: 1;
			}

				@media screen and (max-height: 650px) {
					.freelancing-header h2 {
						display: none;
					}
				}

	#projectcaption {
		width: 100%;
		padding: 1em 0;
	}

		.btbc {
			background-color: #151515;
		}

		.atrf {
			background-color: #878787;
		}

		.wpp {
			background-color: #2d526d;
		}

		.tqu {
			background-color: #333333;
		}

		.captiontext {
			width: 60%;
			margin: 1em auto;
		}

	.btbc-01 { width:400px; padding: 0; }
	.btbc-02 { width:600px; padding: 0; }
	.btbc-03 { width:600px; padding: 0; }
	.btbc-04 { width:233px; padding: 0; }
	.btbc-05 { width:600px; padding: 0; }

		@media (max-width: 768px) {
			.btbc-01 { width:400px; }
			.btbc-02 { width:600px; }
			.btbc-03 { width:600px; }
			.btbc-04 { width:233px; }
			.btbc-05 { width:600px; }
		}

	.atrf-01 { width:400px; padding: 0; }
	.atrf-02 { width:600px; padding: 0; }
	.atrf-03 { width:667px; padding: 0; }
	.atrf-04 { width:667px; padding: 0; }

		@media (max-width: 768px) {
			.atrf-01 { width:400px; }
			.atrf-02 { width:600px; }
			.atrf-03 { width:667px; }
			.atrf-04 { width:667px; }
		}

	.wpp-01 { width:1137px; padding: 0; }
	.wpp-02 { width:600px; padding: 0; }
	.wpp-03 { width:600px; padding: 0; }
	.wpp-04 { width:600px; padding: 0; }
	.wpp-05 { width:600px; padding: 0; }

		@media (max-width: 768px) {
			.wpp-01 { width:1137px; }
			.wpp-02 { width:600px; }
			.wpp-03 { width:600px; }
			.wpp-04 { width:600px; }
			.wpp-05 { width:600px; }
		}

	.tqu-01 { width:400px; padding: 0; }
	.tqu-02 { width:280px; padding: 0; }
	.tqu-03 { width:259px; padding: 0; }
	.tqu-04 { width:522px; padding: 0; }
	.tqu-05 { width:243px; padding: 0; }
	.tqu-06 { width:600px; padding: 0; }
	.tqu-07 { width:600px; padding: 0; }
	.tqu-08 { width:600px; padding: 0; }
	.tqu-09 { width:600px; padding: 0; }
	.tqu-10 { width:600px; padding: 0; }
	.tqu-11 { width:600px; padding: 0; }

		@media (max-width: 768px) {
			.tqu-01 { width:400px; }
			.tqu-02 { width:280px; }
			.tqu-03 { width:259px; }
			.tqu-04 { width:522px; }
			.tqu-05 { width:243px; }
			.tqu-06 { width:600px; }
			.tqu-07 { width:600px; }
			.tqu-08 { width:600px; }
			.tqu-09 { width:600px; }
			.tqu-10 { width:600px; }
			.tqu-11 { width:600px; }
		}

	.portraits {
		display: inline-block;
		max-width: 900px;
		padding: 0;
	}

	@media screen and (max-width: 700px) {
		ul.noMargin {
			display: none;
		}
	}