/* TOC 
	
	RESET
	BOX MODEL
	BASIC
	TYPE
	ICON
	LIST
	THUMBNAILS
	FOOTER

	/adventure BASIC
	/adventure TYPE
	/adventure SECTION AND ARTICLE 
	/adventure ICON
	/adventure LIST
	/adventure BUTTON
	/adventure TILES
	/adventure HEADER
	/adventure BANNER
	/adventure MAIN
	/adventure WRAPPER
	/adventure MENU
	/adventure GRID

	/adventure/f16 

	/masculinity BASIC

	/freelancing/photography BASIC
	/freelancing/photography MAIN
	/freelancing/photography HEADER
	/freelancing/photography THUMBNAILS
	/freelancing/photography VIEWER

	/joto

	/typography CREDIT
	/typography SAMPLE

*/

/* BOX MODEL */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* BASIC */

	/*
		@-ms-viewport {
			width: device-width;
		}

	*/

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	

	


/* TYPE */

	


	

	hr {
		margin: 1.25em 0;
		border: 0;
		border-bottom: solid 1px #ccc;
	}

	hr.major {
		margin: 1.875em 0;
	}


	.space {
		height: 1em;
	}

	#header-center {
		padding: 3em 2.25em 1.75em 2.25em ;
	}

		#header-center h1 {
			text-align: center;
		}

		#header-center h2 {
			text-align: center;
		}

		#header-center h3 {
			text-align: center;
		}

		#header-center p {
			width: 25em;
			text-align: justify;
			text-align-last: center;
		}

	#heading-left {
		padding: 3em 3.25em 3em 3.25em ;
	}

		#heading-left h1 {
			text-align: justify;
			text-align-last: left;
		}

		#heading-left h2 {
			text-align: justify;
			text-align-last: left;
		}

		#heading-left h3 {
			text-align: justify;
			text-align-last: left;
		}

		#heading-left p {
			text-align: justify;
			text-align-last: left;
		}

		#heading-left p a {
			border-bottom: 1px solid #aaa;
			color: inherit;
			-moz-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
			transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
			text-decoration: none;
		}

				#heading-left p a:hover {
					border-bottom-color: #0083d5;
					color: #0083d5;
				}

	#header {
		margin: 0 auto 0 auto;
		padding: 3em 2.25em 0 2.25em ;
		width: 100%;
	}

		#header h1 {
			font-size: 2.05em;
			font-weight: 700;
		}

	#links {
		margin: 200px auto 0 auto;
		padding: 150px 0;
		vertical-align: center;
		text-align: center;
	}

		#links .block {
			display: inline-block;
			height: 100%;
			width: 25%;
			margin: 0 15px;
		}

		#links .block i {
			display: inline;
			padding-right: 10px;
		}

		#links .block h1 {
			margin: 0 auto;
			font-size: 1.5em;
			font-weight: 300;
			text-transform: none !important;
			text-align: center;
		}



/* LIST */

	

	

		ul.alt {
			padding-left: 0;
			list-style: none;
		}

			ul.alt li {
				padding: 0.5em 0;
				border-top: solid 1px #ccc;
			}

				ul.alt li:first-child {
					padding-top: 0;
					border-top: 0;
				}

		


/* FOOTER */

	footer {
		margin: 5em auto;
		padding: 0;
	}

		footer p {
			font-size: 0.8em;
		}

		.copyright {
			padding: 0;
			font-weight: 300;
			list-style: none;
		}

			.copyright li {
				display: inline-block;
				padding: 0;
				font-size: 0.8em;
			}

	#footer-absolute {
		position: absolute;
		bottom: 0;
		width: 100%;
		margin: 3em 0;
		text-align: center;
	}

	#footer-left-inner {
		margin: 0;
		background: #fff;
		color: #888;
	}

		#footer-left-inner .inner a:hover {
			color: #555 !important;
		}

		#footer-left-inner ul {
			text-align: left;
		}

		#footer-left-inner .copyright {
			padding: 0;
			text-align: left;
		}

			#footer-left-inner .copyright li {
				padding: 0;
			}

				#footer-left-inner .copyright li:first-child {
					border-left: 0;
					margin-left: 0;
					padding-left: 0;
				}

		@media screen and (max-width: 480px) {

			#footer-left-inner .copyright li {
				display: block;
				border-left: 0;
				margin-left: 0;
				padding-left: 0;
				line-height: inherit;
			}

		}

	#footer-right {
			padding: 2.25em 2.25em 0.5em 2.25em;
		}

		#footer-right .copyright {
			text-align: right;
		}

/* /adventure BASIC */

	#adventure body {
		-ms-overflow-style: scrollbar;
	}

	#adventure body {
		background: #fff;
	}

		#adventure body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* /adventure TYPE */

	#adventure body, input, select, textarea {
		color: #ffffff;
		font-family: "Roboto", Helvetica, sans-serif;
		font-size: 16pt;
		font-weight: 300;
		letter-spacing: 0.025em;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

		@media screen and (max-width: 360px) {

			body, input, select, textarea {
				font-size: 10pt;
			}

		}

	#adventure a {
		-moz-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
		-webkit-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
		-ms-transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
		transition: color 0.1s ease-out, border-bottom-color 0.1s ease-out;
		color: inherit;
		text-decoration: none;
	}

		#adventure a:hover {
			color: #F4F200 !important;
		}

		#adventure a:active {
			color: #F4F200 !important;
		}

	#adventure strong, b {
		color: #ffffff;
		font-weight: 600;
	}

	#adventure em, i {
		font-style: italic;
	}

	#adventure p {
		margin: 0 0 2em 0;
	}

	#adventure h1, #adventure h2, #adventure h3, #adventure h4, #adventure h5, #adventure h6 {
		color: #ffffff;
		font-weight: 700;
		line-height: 1.65;
		margin: 0 0 1em 0;
	}

		#adventure h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
		}

	#adventure h1 {
		font-size: 2.05em;
	}

	#adventure h2 {
		font-size: 1.75em;
		letter-spacing: .02em;
	}

	#adventure h3 {
		font-size: 1.35em;
	}

	#adventure h4 {
		font-size: 1.1em;
	}

	#adventure h5 {
		font-size: 0.9em;
	}

	#adventure h6 {
		font-size: 0.7em;
	}

	#adventure .override-special a {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out, color 0.1s ease-out;
		-webkit-transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out, color 0.1s ease-out;
		-ms-transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out, color 0.1s ease-out;
		transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out, color 0.1s ease-out;
		color: #888 !important;
	}

	#adventure .override-dark a:hover {
		color: #555 !important;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 2em;
		}

		h2 {
			font-size: 1.5em;
		}

		h3 {
			font-size: 1.25em;
		}

	}

	#adventure blockquote {
		border-left: solid 4px rgba(212, 212, 255, 0.1);
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	#adventure hr {
		border: 0;
		border-bottom: solid 1px rgba(212, 212, 255, 0.1);
		margin: 2em 0;
	}

		#adventure hr.major {
			margin: 3em 0;
		}

/* /adventure SECTION AND ARTICLE */

	

/* /adventure ICON */

	#adventure .icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		#adventure .icon:before {
			-moz-osx-font-smoothing: grayscale;
			-webkit-font-smoothing: antialiased;
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
			text-transform: none !important;
		}

		#adventure .icon > .label {
			display: none;
		}

		#adventure .icon.alt:before {
			background-color: #ffffff;
			border-radius: 100%;
			color: #888;
			display: inline-block;
			height: 2em;
			line-height: 2em;
			text-align: center;
			width: 2em;
		}

	#adventure a.icon.alt:before {
		-moz-transition: background-color 0.1s ease-out;
		-webkit-transition: background-color 0.1s ease-out;
		-ms-transition: background-color 0.1s ease-out;
		transition: background-color 0.1s ease-out;
	}

	#adventure a.icon.alt:hover:before {
		background-color: #6fc3df;
	}

	#adventure a.icon.alt:active:before {
		background-color: #37a6cb;
	}

/* /adventure IMAGE */

/* /adventure LIST */

	#adventure ol {
		list-style: decimal;
		margin: 0 0 2em 0;
		padding-left: 1.25em;
	}

		#adventure ol li {
			padding-left: 0.25em;
		}

	#adventure ul {
		list-style: disc;
		margin: 0 0 2em 0;
		padding-left: 1em;
	}

		#adventure ul li {
			padding-left: 0.5em;
		}

		#adventure ul.alt {
			list-style: none;
			padding-left: 0;
		}

			#adventure ul.alt li {
				border-top: solid 1px rgba(212, 212, 255, 0.1);
				padding: 0.5em 0;
			}

				#adventure ul.alt li:first-child {
					border-top: 0;
					padding-top: 0;
				}

		#adventure ul.icons {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			#adventure ul.icons li {
				display: inline-block;
				padding: 0 1em 0 0;
			}

				#adventure ul.icons li:last-child {
					padding-right: 0;
				}

			@media screen and (max-width: 736px) {

				#adventure ul.icons li {
					padding: 0 0.75em 0 0;
				}

			}

		

	#adventure dl {
		margin: 0 0 2em 0;
	}

		#adventure dl dt {
			display: block;
			font-weight: 600;
			margin: 0 0 1em 0;
		}

		#adventure dl dd {
			margin-left: 2em;
		}

/* /adventure BUTTON */

	

/* /adventure TILES */

	

/* /adventure BANNER */

	

/* /adventure MAIN */

	

/* /adventure WRAPPER */

	
/* /adventure MENU */

	

/* /adventure GRID */
	

/* /adventure/f16 */



/* /masculinity */


		.masculinity-intro h1 {
				width: 100%;
				margin-left: 593px;
				padding-top: 2em;
				font-size: 4em;
				font-weight: 900;
				text-align: left;
				text-transform: uppercase;
				letter-spacing: 0.2em;
			}

		.masculinity-intro p {
				position: relative;
				margin-left: 580px;
				padding: 0 4em 0 1em;
				font-family: 'Roboto', sans-serif;
				text-align: justify;
				text-align-last: left;
				color: #151515;
			}

		.masculinity-intro h3 {
			margin-left: 580px;
			padding: 0 1em;
			color: #151515;
		}

	a {
		color: #151515;
		text-decoration: underline;
	}

		a:hover {
			color: #990099;
		}

			#masculinity a:hover {
				color: #FF69B4;
			}

/* /freelancing TYPE */

#freelancing-links {
		display: table;
		position: relative;
		height: 100vh;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	#freelancing-links .cell-box {
		display: table-cell;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

		#freelancing-links i {
			display: inline;
			padding-right: 0.35em;
		}

		#freelancing-links h1 {
			display: inline;
			width: 100%;
			margin: 0 2em;
			font-size: 1.5em;
			font-weight: 300;
			text-transform: none !important;
			text-align: center;
			vertical-align: middle;
		}

			@media screen and (max-width: 800px) {
			#freelancing-links h1 {
				display: block;
				margin: 2em auto;
			}
		}

/* /freelancing/photography BASIC */

	#photography body.is-loading-0 *, body.is-loading-0 *:before, body.is-loading-0 *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

/* /freelancing/photography TYPE */
	
	#photography h1, h2, h3, h4, h5, h6 {
		margin: 0 0 0.5em 0;
		line-height: 1.25;
	}

	#photography h2 {
		margin: 0 0 -0.3em 0;
	}

/* /freelancing/photography MAIN */

#photography-main {
	-moz-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
	-webkit-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
	-ms-transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
	transition: opacity 0.75s ease, right 0.75s ease, left 0.75s ease, visibility 0.75s;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top: 0;
	width: 22.5em;
	height: 100%;
	background: #fff;
	outline: 0;
	overflow-x: hidden;
	overflow-y: auto;
	text-align: right;
	visibility: visible;
	z-index: 10000;
	right: 0;
}

	#photography-main .toggle {
		-webkit-tap-highlight-color: transparent;
		position: absolute;
		top: 0;
		width: 4em;
		height: 4em;
		background-image: url("images/close-small-alt.svg");
		background-repeat: no-repeat;
		background-size: 32px 32px;
		cursor: pointer;
		display: none;
		z-index: 1;
		background-position: 0.5em 0.5em;
		left: 0;
	}

	body.fullscreen #photography-main {
		visibility: hidden;
		right: -22.5em;
	}

	body.is-loading-1 #photography-main {
		opacity: 0;
		right: -2em;
	}

	@media screen and (max-width: 1280px) {

		#photography-main {
			width: 19em;
		}

			body.fullscreen #main {
				right: -19em;
			}

	}

	@media screen and (max-width: 980px) {

		#photography-main {
			background: rgba(255, 255, 255, 0.925);
		}

			#photography-main .toggle {
				display: block;
			}

	}

	@media screen and (max-width: 480px) {

		#photography-main {
			-moz-transition: opacity 0.5s ease, visibility 0.5s;
			-webkit-transition: opacity 0.5s ease, visibility 0.5s;
			-ms-transition: opacity 0.5s ease, visibility 0.5s;
			transition: opacity 0.5s ease, visibility 0.5s;
			width: 100%;
			background: #fff;
			text-align: center;
		}

			#photography body.is-loading-1 #photography-main {
				left: auto !important;
				right: auto !important;
			}

			#photography body.fullscreen #photography-main {
				left: auto !important;
				right: auto !important;
				opacity: 0;
			}

			#photography-main .toggle {
				display: none;
			}

	}

/* /freelancing/photography HEADER */

	#photography-header {
			padding: 3em 2.25em 1.75em 2.25em ;
		}

			#photography-header h1 {
				margin-bottom: 0px;
				font-size: 2.05em;
				font-weight: 700;
				text-align: right;
			}

			#photography-header h3 {
				font-size: 2.05em;
				font-weight: 300;
				text-align: right;
			}

			#photography-header p {
				margin: 0 0 1.25em 0;
				text-align: right;
			}

			#photography-header ul {
				text-align: right;
			}

/* /freelancing/photography THUMBNAILS */

#photography-thumbnails {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 0.75em;
}

	#photography-thumbnails article {
		position: relative;
		width: 50%;
		background: #101010;
		outline: 0;
	}

		#photography-thumbnails article .thumbnail {
			-webkit-tap-highlight-color: transparent;
			display: block;
			position: relative;
			border: 0;
			outline: 0;
		}

			#photography-thumbnails article .thumbnail img {
				display: block;
				width: 100%;
			}

			#photography-thumbnails article .thumbnail:before {
				-moz-pointer-events: none;
				-webkit-pointer-events: none;
				-ms-pointer-events: none;
				pointer-events: none;
				-moz-transition: opacity 0.25s ease;
				-webkit-transition: opacity 0.25s ease;
				-ms-transition: opacity 0.25s ease;
				transition: opacity 0.25s ease;
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				box-shadow: inset 0 0 0 2px #0083D5, inset 0 0 0px 3px rgba(0, 0, 0, 0.15);
				opacity: 0;
				z-index: 1;
			}

			#photography-thumbnails article .thumbnail:focus:before {
				opacity: 0.5;
			}

		#photography-thumbnails article h2, #photography-thumbnails article p {
			display: none;
		}

		#photography-thumbnails article.active .thumbnail:before {
			opacity: 1;
		}

	@media screen and (max-width: 480px) {

		#photography-thumbnails article .thumbnail:before {
			display: none;
		}

	}

/* /freelancing/photography VIEWER */

@-moz-keyframes spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-ms-keyframes spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinner {
	0% {
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

#viewer {
	-moz-transition: opacity 0.75s ease, width 0.75s ease;
	-webkit-transition: opacity 0.75s ease, width 0.75s ease;
	-ms-transition: opacity 0.75s ease, width 0.75s ease;
	transition: opacity 0.75s ease, width 0.75s ease;
	position: absolute;
	top: 0;
	width: calc(100% - 22.5em);
	height: 100%;
	left: 0;
}

	#viewer .inner {
		-moz-pointer-events: none;
		-webkit-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}

		#viewer .inner > * {
			-moz-pointer-events: auto;
			-webkit-pointer-events: auto;
			-ms-pointer-events: auto;
			pointer-events: auto;
		}

		#viewer .inner:before {
			background-image: -moz-linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0)), -moz-linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0));
			background-image: -webkit-linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0)), -webkit-linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0));
			background-image: -ms-linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0)), -ms-linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0));
			background-image: linear-gradient(left, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0)), linear-gradient(right, rgba(16,16,16,0.2), rgba(16,16,16,0) 10em, rgba(16,16,16,0));
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		#viewer .inner .toggle {
			-webkit-tap-highlight-color: transparent;
			position: absolute;
			top: 0;
			width: 4em;
			height: 4em;
			background-image: url("images/close.svg");
			background-repeat: no-repeat;
			background-size: 64px 64px;
			cursor: pointer;
			z-index: 1;
			right: 0;
			background-position: calc(100% - 0.75em) 0.75em;
		}

		#viewer .inner .nav-next,
		#viewer .inner .nav-previous {
			-webkit-tap-highlight-color: transparent;
			position: absolute;
			top: 50%;
			width: 6em;
			height: 6em;
			margin-top: -3em;
			background-image: url("images/arrow.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			cursor: pointer;
		}

		#viewer .inner .nav-previous {
			-moz-transform: scaleX(-1);
			-webkit-transform: scaleX(-1);
			-ms-transform: scaleX(-1);
			transform: scaleX(-1);
			left: 0;
		}

		#viewer .inner .nav-next {
			right: 0;
		}

	#viewer .slide {
		-moz-transition: opacity 0.5s ease-in-out;
		-webkit-transition: opacity 0.5s ease-in-out;
		-ms-transition: opacity 0.5s ease-in-out;
		transition: opacity 0.5s ease-in-out;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 1;
		z-index: 1;
	}

		#viewer .slide .caption {
			background-image: -moz-linear-gradient(bottom, rgba(16,16,16,0.75), rgba(16,16,16,0.25) 80%, rgba(16,16,16,0));
			background-image: -webkit-linear-gradient(bottom, rgba(16,16,16,0.75), rgba(16,16,16,0.25) 80%, rgba(16,16,16,0));
			background-image: -ms-linear-gradient(bottom, rgba(16,16,16,0.75), rgba(16,16,16,0.25) 80%, rgba(16,16,16,0));
			background-image: linear-gradient(bottom, rgba(16,16,16,0.75), rgba(16,16,16,0.25) 80%, rgba(16,16,16,0));
			padding: 2em 2em 0.75em 2em ;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			color: rgba(255, 255, 255, 0.5);
			z-index: 1;
		}

			#viewer .slide .caption h2, #viewer .slide .caption h3, #viewer .slide .caption h4, #viewer .slide .caption h5, #viewer .slide .caption h6 {
				color: #fff;
			}

		#viewer .slide .image {
			-moz-transition: opacity 0.5s ease-in-out;
			-webkit-transition: opacity 0.5s ease-in-out;
			-ms-transition: opacity 0.5s ease-in-out;
			transition: opacity 0.5s ease-in-out;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			opacity: 0;
		}

		#viewer .slide:before {
			-moz-animation: spinner 1s linear infinite;
			-webkit-animation: spinner 1s linear infinite;
			-ms-animation: spinner 1s linear infinite;
			animation: spinner 1s linear infinite;
			-moz-transition: opacity 0.5s ease-in-out;
			-webkit-transition: opacity 0.5s ease-in-out;
			-ms-transition: opacity 0.5s ease-in-out;
			transition: opacity 0.5s ease-in-out;
			content: '';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 3em;
			height: 3em;
			background-image: url("images/spinner.svg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			margin: -1.5em 0 0 -1.5em;
			opacity: 0;
		}

		#viewer .slide.loading:before {
			opacity: 1;
		}

		#viewer .slide.active .image {
			opacity: 1;
		}

	body.fullscreen #viewer {
		width: 100%;
	}

		body.fullscreen #viewer .inner .toggle {
			background-image: url("images/open.svg");
		}

	#photography body.is-loading-1 #viewer {
		opacity: 0;
	}

	#photography body.is-loading-2 #viewer .slide {
		opacity: 0;
	}

	@media screen and (max-width: 1280px) {

		#viewer {
			width: calc(100% - 19em);
		}

	}

	@media screen and (max-width: 980px) {

		#viewer {
			width: 100%;
		}

			#viewer .inner .toggle {
				-moz-transition: opacity 0.75s ease;
				-webkit-transition: opacity 0.75s ease;
				-ms-transition: opacity 0.75s ease;
				transition: opacity 0.75s ease;
				background-image: url("images/open.svg");
				opacity: 0;
				right: 0;
			}

			body.fullscreen #viewer .inner .toggle {
				opacity: 1;
			}

	}

	@media screen and (max-width: 736px) {

		#viewer .inner .toggle {
			background-size: 32px 32px;
		}

		#viewer .inner .nav-next,
		#viewer .inner .nav-previous {
			background-image: url("images/arrow-small.svg");
			background-size: 32px 32px;
		}

		body.fullscreen #viewer .inner .toggle {
			background-image: url("images/open-small.svg");
		}

	}

	@media screen and (max-width: 480px) {

		#viewer {
			-moz-transition: opacity 0.5s ease;
			-webkit-transition: opacity 0.5s ease;
			-ms-transition: opacity 0.5s ease;
			transition: opacity 0.5s ease;
			-moz-transition-delay: 0s;
			-webkit-transition-delay: 0s;
			-ms-transition-delay: 0s;
			transition-delay: 0s;
			opacity: 0;
		}

			#viewer .inner .toggle {
				background-image: url("images/close-small.svg") !important;
				background-size: 32px 32px;
			}

			body.fullscreen #viewer {
				-moz-transition-delay: 0.5s;
				-webkit-transition-delay: 0.5s;
				-ms-transition-delay: 0.5s;
				transition-delay: 0.5s;
				opacity: 1;
			}

	}

/* /freelancing/design THUMBNAILS */

#design-thumbnails {
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

	#design-thumbnails article {
		position: relative;
		margin: 0 auto 2em auto;
		width: 800px;
		outline: 0;
	}

		#design-thumbnails article .caption {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			background: rgba(255,255,255,0.9);
			-moz-transition: opacity 0.25s ease-out;
			-webkit-transition: opacity 0.25s ease-out;
			-ms-transition: opacity 0.25s ease-out;
			transition: opacity 0.25s ease-out;
			opacity: 0;
		}

			#design-thumbnails article .caption:hover {
				opacity: 1;
			}

			#design-thumbnails article .caption h2 {
				position: absolute;
				padding: 2em 2em 0.3em 1.6em ;
				width: 800px;
				bottom: 51px;
				color: #000;
				text-align: left;
				z-index: 2;
			}

			#design-thumbnails article .caption p {
				position: absolute;
				padding: 2em 2em 0.75em 2em;
				width: 100%;
				height: 125px;
				bottom: -53px;
				left: 0;
				color: #000;
				vertical-align: baseline;
				text-align: left;
			}

@media screen and (max-width: 480px) {
}

/* /joto */

#joto {
	display: table;
	position: relative;
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
	background: url('../../img/masculinity/masculinity-header-1200-bw-web.jpg') no-repeat fixed center;
}

	#joto .text {
		display: table-cell;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

	#joto p.title {
		margin: 0 auto -0.1em auto;
		padding: 0;
		font-family: 'Oswald', sans-serif;
		font-size: 9em;
		font-weight: 400;
		letter-spacing: 0.4em;
		color: #fff;
		position: relative;
		text-transform: uppercase;
		text-align: center;
		text-shadow: 6px 6px 0 #cc2827;
		z-index: 2;
	}

	#joto p.description {
		margin: 0 auto;
		margin-left: -0.7em;
		font-family: 'Oswald', sans-serif;
		font-size: 2.5em;
		font-weight: 400;
		letter-spacing: 0.9em;
		color: #fff;
		text-transform: uppercase;
		font-style: italic;
		opacity: 0.6;
	}

	.joto-subtitle {
		margin: 2em auto;
		padding: 0;
		font-family: 'Oswald', sans-serif;
		font-size: 2.5em;
		font-weight: 400;
		letter-spacing: 0.9em;
		color: #404040;
		text-transform: uppercase;
		font-style: italic;
		text-align: center;
	}

	#joto h3 {
		color: #fff;
	}

/* /typography CREDIT */

#typography .credit-light {
	position: absolute;
	top: 2rem;
	left: 2rem;
	color: #FFF;
	font: 300 0.8rem/1rem Roboto;
	text-transform: uppercase;
	opacity: 0.45;
}

	#typography .credit-light:hover {
		opacity: 1;
	}

	#typography .credit-light a {
		color: #FFF;
		font: 300 0.8rem/1rem Roboto;
		text-transform: uppercase;
	}

#typography .credit-dark {
	position: absolute;
	top: 2rem;
	left: 2rem;
	color: #000;
	font: 300 0.8rem/1rem Roboto;
	text-transform: uppercase;
	opacity: 0.35;
}

	#typography .credit-dark:hover {
		opacity: 1;
	}

	#typography .credit-dark a {
    	color: #000;
    	font: 300 0.8rem/1rem Roboto;
    	text-transform: uppercase;
	}

/* /typography SAMPLE */

#typography .sample#title {
	width: 100%;
	padding: 8rem 0 16rem 0;
	background: #FFF;
}

	#typography .sample#title .text {
		width: 55rem; 
		margin: 0 auto;
		padding: 0 0 0 2rem;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#title .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#title .text {
				height: 18rem;
				width: 100%;
				padding: 0 0 0 1rem;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#title .text {
				height: 24rem;
				padding: 0 0 0 1.5rem;
			}
		}
  
	#typography .sample#title h1 {
		color: #000;
		font: 100 1.75rem/5rem 'Roboto';
		text-align: left;
	}

	#typography .sample#title h2 {
		margin-bottom: 2rem;
		color: #000;
		font: 700 6rem/4.5rem 'Expletus Sans';
		text-transform: uppercase;
		letter-spacing: 0.5rem; 
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#title h2 {
				font-size: 6em;
				line-height: 4.5rem;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#title h2 {
				font-size: 5em;
				line-height: 3rem;
				letter-spacing: 0.1em;
				word-wrap: break-word;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#title h2 {
				line-height: 0.73em;
				word-wrap: break-word;
			}
		}

	#typography .sample#title h3 {
		width: 40rem;
		margin: 0 0 4rem 0;
		color: #666;
		font: 300 2rem/3rem 'Open Sans';
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#title h3 {
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#title h3 {
				width: 100%;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#title h3 {
			}
		}
    
	#typography .sample#title h3 a:hover {
		color: #222;
		font-weight: 700; 
	}

	#typography .sample#title p, .sample#title ul {
		float: left;
		width: 28rem;
		margin: 0 3rem 0 0;
		color: #888;
		font: 300 1rem/1.3rem 'Roboto';
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#title p {
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#title p {
				width: 100%;
				padding-right: 2rem;
				padding-bottom: 2rem;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#title p {
				float: none;
				width: 100%;
				padding-right: 2rem;
				padding-bottom: 2rem;
			}
		}

		#typography .sample#title p a {
			font: 300 1rem/1.3rem 'Roboto';
		}

	#typography .sample#title ul {
		position: relative;
		top: 0px;
		width: 18.5rem;
		height: 1rem; 
		margin: 0;
		text-align: left;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#title ul {
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#title ul {
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#title ul {
				padding-left: 0.7rem;
			}
		}

		#typography .sample#title ul li a {
			position: relative;
			font: 300 0.8rem/1.6rem 'Roboto';
			text-transform: uppercase;
			vertical-align: middle;
		}

			#typography .sample#title ul li a:hover {
				color: #222;
				font-weight: 700;
			}
		      
			#typography .sample#title ul li i {
				line-height: 1rem;
			}

#typography .sample#raleway {
	position: relative;
	height: 50rem;
	padding: 15rem 0;
	background: #362819 url('../../img/typography/new-york-web.jpg') no-repeat;
	background-size: 100%;
}

	@media screen and (max-width: 1200px) {
		#typography .sample#raleway {
			background-size: auto 100%;
		}
	}

	@media screen and (max-width: 736px) {
		#typography .sample#raleway {
			background-size: auto 100%;
		}
	}

	@media screen and (max-width: 480px) {
		#typography .sample#raleway {
			background-size: auto 100%;
		}
	}

	#typography .sample#raleway .text {
		position: relative;
		width: 62.5rem; 
		margin: 0 auto;
		padding: 0 0;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#raleway .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#raleway .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#raleway .text {
			}
		}

	#typography .sample#raleway h2 {
		margin: 1rem 32rem 0 1.2rem;
		color: #FFFF00;
		font: 900 5rem/6rem 'Raleway';
		text-align: right;
		letter-spacing: 0.2rem;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#raleway h2 {
				width: 100%;
				margin: 0 auto;
				padding: 0 0 2rem 0;
				text-align: center;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#raleway h2 {
				margin: 0 auto;
				text-align: center;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#raleway h2 {
			}
		}

	#typography .sample#raleway .first {
		position: relative;
		top: 0;
		left: 5rem;
		z-index: 10;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#raleway .first {
				left: 0;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#raleway .first {
				left: 0;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#raleway .first {
				left: 0;
			}
		}

	#typography .sample#raleway .second {
		position: relative;
		top: -8.5rem;
		left: -1.4rem;
		z-index: 5;
	}

		@media screen and (min-width: 1910px) {
			#typography .sample#raleway .second {
				display: none;
			}
		}

		@media screen and (max-width: 1200px) {
			#typography .sample#raleway .second {
				display: none;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#raleway .second {
				display: none;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#raleway .second {
				display: none;
			}
		}
	
		#typography .sample#raleway .first:hover, .first:not(:hover) + .second { 
			opacity: 0 
		}

			@media screen and (min-width: 1910px) {
				#typography .sample#raleway .first:hover, .first:not(:hover) + .second {
					opacity: 1;
				}
			}

			@media screen and (max-width: 1200px) {
				#typography .sample#raleway .first:hover, .first:not(:hover) + .second {
					opacity: 1;
				}
			}

			@media screen and (max-width: 736px) {
				#typography .sample#raleway .first:hover, .first:not(:hover) + .second {
					opacity: 1;
				}
			}

			@media screen and (max-width: 480px) {
				#typography .sample#raleway .first:hover, .first:not(:hover) + .second {
					opacity: 1;
				}
			}
  
	#typography .sample#raleway h3 {
		position: relative;
		width: 45rem;
		margin: -6rem 0 0 12rem;
		color: #FFF;
		font: 300 1.2rem/1.4 'Merriweather';
		text-align: justify;
	}

		@media screen and (min-width: 1910px) {
			#typography .sample#raleway h3 {
				margin: 0 auto;
				padding: 4rem 0;
			}
		}

		@media screen and (max-width: 1200px) {
			#typography .sample#raleway h3 {
				width: 20rem;
				margin: 0 auto;
				padding: 0;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#raleway h3 {
				width: 80%;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#raleway h3 {
			}
		}

#typography .sample#alegreya {
	position: relative;
	height: 100rem;
	padding: 9rem 0;
	background: #FFF url('../../img/typography/pragser-wildsee-web.jpg') no-repeat;
	background-size: 100%;
	z-index: 2;
}

	@media screen and (max-width: 1200px) {
		#typography .sample#alegreya {
			background-size: auto 100%;
		}
	}

	@media screen and (max-width: 736px) {
		#typography .sample#alegreya {
			background-size: auto 100%;
		}
	}

	@media screen and (max-width: 480px) {
		#typography .sample#alegreya {
			background-size: auto 100%;
			overflow: hidden;
		}
	}

	#typography .sample#alegreya .text {
		position: relative;
		width: 70rem; 
		margin: 0 auto;
		text-align: center;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#alegreya .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#alegreya .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#alegreya .text {
			}
		}

	#typography .sample#alegreya h2 span {
		position: relative;
		display: inline;
		width: 70rem;
		top: 2rem;
		margin: 0 auto 2rem auto;
		color: #E3170D;
		font: 900 8rem/12rem 'Alegreya Sans';
		letter-spacing: 3rem;
		text-transform: uppercase;
		opacity: 0.75;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#alegreya h2 span {
				width: 100%;
				font-size: 6em;
				letter-spacing: 1.5rem;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#alegreya h2 span {
				width: 100%;
				font-size: 4em;
				letter-spacing: 1rem;
				word-wrap: break-word;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#alegreya h2 span {
				width: 100%;
				font-size: 3em;
				letter-spacing: 1rem;
				line-height: 1.5em;
				word-wrap: break-word;
			}
		}

		#typography .sample#alegreya h2 span:hover {
			background-color: rgba(227, 23, 13, 0.25);
			-webkit-box-shadow: -1rem 0px 0px rgba(227, 23, 13, 0.25);
			box-shadow: -1rem 0px 0px rgba(227, 23, 13, 0.25);
			box-decoration-break: clone;
			opacity: 1;
		}

	#typography .sample#alegreya h3 {
		position: relative;
		top: 4rem;
		width: 25rem;
		margin: 4.5rem auto 1.5rem auto;
		padding: 2rem;
		color: #FFF;
		font: 700 1rem/1.5rem 'Alegreya Sans';
		text-align: center;
		letter-spacing: 0.4rem;
		text-transform: uppercase;
		opacity: 0.7;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#alegreya h3 {
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#alegreya h3 {
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#alegreya h3 {
				width: 100%;
			}
		}

		#typography .sample#alegreya h3:hover {
			background-color: rgba(0, 0, 0, 0.25);
		}

#typography .sample#monsieur {
	position: relative;
	background-size: contain;
	height: 50rem;
	padding: 15rem 0;
	background: #999999 url('../../img/typography/bergen-web.jpg') no-repeat;
	background-size: 100%;
}

	@media screen and (max-width: 1200px) {
		#typography .sample#monsieur {
			background-size: auto 100%;
		}
	}

	@media screen and (max-width: 736px) {
		#typography .sample#monsieur {
			background-size: auto 100%;
		}
	}

	@media screen and (max-width: 480px) {
		#typography .sample#monsieur {
			background-size: auto 100%;
		}
	}

	#typography .sample#monsieur .text {
		position: relative;
		width: 70rem; 
		margin: 0 auto;
		opacity: 0.75;
		color: #000;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#monsieur .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#monsieur .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#monsieur .text {
				margin-top: -5rem;
				width: 100%;
			}
		}

		#typography .sample#monsieur .text:hover {
			opacity: 1;
		}

	#typography .sample#monsieur h2 {
		position: relative;
		top: 2rem;
		font: 300 3.5rem/6rem 'Monsieur La Doulaise';
		text-align: center;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#monsieur h2 {
				width: 100%;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#monsieur h2 {
				top: 0;
				width: 100%;
				padding: 2rem;
				color: #fff;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#monsieur h2 {
				width: 100%;
				padding: 2rem;
				color: #fff;
			}
		}

	#typography .sample#monsieur h3 {
		position: relative;
		top: 2rem;
		width: 25rem;
		margin: 0 auto;
		font: 200 1.1rem/1.5rem 'EB Garamond';
		text-align: center;
		opacity: 0.7;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#monsieur h3 {
				width: 100%;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#monsieur h3 {
				width: 100%;
				margin: 0 auto;
				padding: 2rem;
				color: #fff;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#monsieur h3 {
				width: 100%;
				margin: 0 auto;
				padding: 2rem;
				color: #fff;
			}
		}

#typography .sample#angelow {
	position: relative;
	background-size: contain;
	height: 75rem;
	padding: 15rem 0;
	background: #f9f9f9 url('../../img/typography/portugal.jpeg') no-repeat;
	background-size: 100%;
	background-position: center bottom;
}

	@media screen and (max-width: 1200px) {
		#typography .sample#angelow {
			background-size: auto 100%;
		}
	}

	@media screen and (max-width: 736px) {
		#typography .sample#angelow {
			background-size: auto 100%;
		}
	}

	@media screen and (max-width: 480px) {
		#typography .sample#angelow {
			background-size: auto 100%;
		}
	}

	#typography .sample#angelow .text {
		position: relative;
		width: 70rem; 
		margin: 0 auto;
		color: #000;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#angelow .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#angelow .text {
				width: 100%;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#angelow .text {
				margin-top: -5rem;
				width: 100%;
			}
		}

	#typography .sample#angelow h2 {
		position: relative;
		top: 2rem;
		font: 400 1.5em/6rem 'Josefin Slab';
		text-align: center;
		letter-spacing: 1rem;
		text-transform: uppercase;
		opacity: 1;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#angelow h2 {
				width: 100%;
				margin: 0 auto;
				font-size: 1em;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#angelow h2 {
				width: 100%;
				margin: 0 auto;
				font-size: 0.8em;
				line-height: 1.5em;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#angelow h2 {
				width: 100%;
				margin: 0 auto;
				padding: 2rem;
				line-height: 1.5em;
			}
		}

	#typography .sample#angelow h3 {
		position: relative;
		top: 1.25rem;
		width: 100%;
		margin: 0 auto;
		-ms-transform: rotate(-5deg);
    	-webkit-transform: rotate(-5deg);
    	transform: rotate(-5deg);
		font: 200 9em/1.5rem 'Angelow Regular';
		color: #00CDCD;
		letter-spacing: -0.02em;
		text-align: center;
		opacity: 0.7;
	}

		@media screen and (max-width: 1200px) {
			#typography .sample#angelow h3 {
				width: 100%;
				margin: 0 auto;
				font-size: 6em;
			}
		}

		@media screen and (max-width: 736px) {
			#typography .sample#angelow h3 {
				width: 90%;
				margin: 0 auto;
				font-size: 5.5em;
				line-height: 0.75em;
			}
		}

		@media screen and (max-width: 480px) {
			#typography .sample#angelow h3 {
				top: 0.25rem;
				width: 100%;
				margin: 0 auto;
				line-height: 0.75em;
			}
		}

		#typography .sample#angelow h3:hover {
			color: #EE0000;