/* MUSIC */

body {
	margin: 0;
}

#grey {
	background-color: #eeeeee;
}

	#first {
		position: absolute;
		margin-top: -26px;
		margin-left: -8px;
		height: 100vh;
		width: 100%;
		background: #ffffff;
		z-index: 2;
	}

	#extra {
		height: 700px;
	}

	#second {
		position: fixed;
		bottom: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background: #eeeeee;
	}

	#third {
		position: relative;
		bottom: -8px;
		margin-top: -26px;
		margin-left: -8px;
		margin-right: -8px;
		padding-top: 175px;
		height: 78vh;
		background: #ffffff;
		z-index: 2;  
	}

		.record {
			margin: 152px auto 152px auto;
			width: 50%;
		}

			.record img {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				margin: auto;
			}

			#spin {
			}

		.intro {
			margin: 125px auto;
			width: 500px;
			vertical-align: middle;
		}  

			.intro p {
				font-family: 'Cardo', serif
				font-weight: 400;
				font-style: none;
				text-align: justify;
				-webkit-font-smoothing: antialiased;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}

		.concl {
			margin: 115px auto;
			width: 900px;
		}

			.concl p.quote {
				font-family: 'Vollkorn', cursive;
				font-size: 45px;
				font-weight: 400;
				font-style: italic;
				text-align: center;
				color: #000000;
			}

			.concl p.source {
				margin-top: -15px;
				padding-left: 100px;
				color: #000000;
				font-family: 'Vollkorn', cursive;
				font-size: 20px;
				font-weight: 400;
				text-transform: uppercase;
				text-align: center;
			}

		.list p {
			margin: 50px 50px;
			width: 500px;
			text-align: left;
		}

		.desc {
			margin: 190px auto;
			width: 25%;
		}

			.desc p {
				font-family: 'Neuton', serif;
				font-size: 16px;
				font-weight: 200;
				text-align: center;
				line-height: 1.2;
				-webkit-font-smoothing: antialiased;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}

		.desc #spring {
			color: #009900;
		}

		.desc #summer {
			color: #FFE800;
		}

		.desc #autumn {
			color: #F9741A;
		}

		.desc #winter {
			color: #50A4AC;
		}

		.music {
			margin: 10px auto;
			width: 1010px;
		}

		.space {
			margin-bottom: 200px;
		}

/* TYPE */

	h1 {
		padding: 1em 0;
		font-family: 'Unica One';
		font-size: 2em;
		font-weight: 400;
		text-transform: uppercase;
		color: #202020;
	}

		h1.center {
			text-align: center;
		}

		h1.left {
			text-align: left;
		}

h2 {
	font-family: 'Unica One';
	font-size: 1.25em;
	font-weight: 400;
	text-transform: uppercase;
	color: #202020;	
}

	p {
		color: #404040;
		font-family: 'Neuton';
		font-size: 1em;
		font-weight: 200;
		line-height: 1.2;
		-webkit-font-smoothing: antialiased;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

		p.justify-center {
			text-align: justify;
			text-align-last: center;
		}

		p.justify-left {
			text-align: justify;
			text-align-last: left;
		}

		p a {
			color: #808080;
			text-decoration: none;
		}

			p a:hover {
				color: #606060;
			}

blockquote {
	margin: 0;
	padding-left: 1.2em;
	font-family: 'Neuton';
	font-size: 1em;
	font-weight: 200;
	line-height: 1.2;
	text-align: left;
	color: #404040;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	border-left: 8px solid #e0e0e0;
	
}

	#top-left {
		display: block;
		position: fixed;
		top: 15px;
		left: 15px;
		font-family: 'Helvetica', 'Arial', sans-serif;
		font-size: 0.7em;
		font-style: italic;
		font-weight: 300;
		line-height: 9px;
		z-index: 10;
		-webkit-font-smoothing: antialiased;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

		#top-left .light {
		}

			#top-left .light a {
				color: #c0c0c0;
				text-decoration: none;
			}

				#top-left .light a:hover {
					color: #a0a0a0;
				}

			#top-left .light h3 {
				color: #c0c0c0;
				font-family: 'Helvetica', 'Arial', sans-serif;
				font-size: 1em;
				font-style: italic;
				font-weight: 300;
				line-height: 9px;
				cursor: pointer;
				-webkit-font-smoothing: antialiased;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}

				#top-left .light h3:hover {
					color: #a0a0a0;
				}


		#top-left .dark {
		}		

			#top-left .dark a {
				color: #c0c0c0;
				text-decoration: none;
			}

				#top-left .dark a:hover {
					color: #a0a0a0;
					text-decoration: none;
				}

			#top-left .dark h3 {
				color: #c0c0c0;
				font-family: 'Helvetica', 'Arial', sans-serif;
				font-size: 1em;
				font-style: italic;
				font-weight: 300;
				line-height: 9px;
				cursor: pointer;
				-webkit-font-smoothing: antialiased;
				-webkit-tap-highlight-color: rgba(0,0,0,0);
			}

				#top-left .dark h3:hover {
					color: #a0a0a0;
				}

		#cred {
			position: absolute;
			top:40px;
			left: 15px;
			margin-top: 10px;
			width: 100%;
			width:400px;
			background-color: #EEEEEE;
			font-size: 11px;
			z-index: 3;
		}

			 #cred p {
				padding-left: 10px;
				color: #333333;
				font: 11px Helvetica, Arial, sans serif;
				text-align: left;
				line-height: 9px;
			 }

				 #cred p a {
					color: #888888;
				 }

				 #cred p a:hover {
					color: #222222;
				 }

.playlist-cover {
	position: fixed;
	top: 100px;
	left: 100px;
}
		img {
			display: block;
			margin: 0 auto;
		}

		iframe {
			display: block;
			border: 0px none;
			margin: 0 auto;	
		}


.left-box {
	float: left;
	margin-left: 10%;
	margin-right: 2em;
}

.right-box {
	margin: 100px 100px 100px 700px;
}

.right-box h1.left {
	padding: 0;
}

.right-box h2.left {
	
}