/* Global Reset
http://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 1rem;
	vertical-align: baseline; 
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block; 
}

body {
	-webkit-text-size-adjust: none;
	line-height: 1;
}

ol, ul {
	list-style: none; 
}

blockquote, q {
	quotes: none; 
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none; 
}

table {
	border-collapse: collapse;
	border-spacing: 0; 
}

/* Clear floated elements */
.clearfix:after, .sample#postnormal .text:after {
	clear: both;
	content: ' ';
	display: block;
	width: 0;
	height: 0; 
	font-size: 0;
	line-height: 0;
	visibility: hidden;
}

body {
	background: #EAEAEA;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-text-size-adjust: 100%; 
}

a {
	color: inherit;
	text-decoration: none;
}

footer {
	padding: 2rem;
	text-align: center; 
}

	footer p {
		margin: 0 0 2rem 0; 
		color: #555;
		font: 400 1rem/1 'Open Sans';
	}

		footer p a {
			color: #555;
			font-weight: 700; 
		}

			footer p a:hover {
				color: #000; 
	    	}

.credit-light {
	position: absolute;
	top: 2rem;
	left: 2rem;
	color: #FFF;
	font: 300 0.75rem/1rem Roboto;
	text-transform: uppercase;
	opacity: 0.45;
}

	.credit-light:hover {
		opacity: 1;
	}

	.credit-light a {
		color: #FFF;
		font: 300 0.75rem/1rem Roboto;
		text-transform: uppercase;
	}

.credit-dark {
	position: absolute;
	top: 2rem;
	left: 2rem;
	color: #000;
	font: 300 0.75rem/1rem Roboto;
	text-transform: uppercase;
	opacity: 0.35;
}

	.credit-dark:hover {
		opacity: 1;
	}

	.credit-dark a {
    	color: #000;
    	font: 300 0.75rem/1rem Roboto;
    	text-transform: uppercase;
	}

.sample#title {
	width: 100%;
	padding: 8rem 0 16rem 0;
	background: #FFF;
}

	.sample#title .text {
		width: 50rem; 
		margin: 0 auto;
		padding: 0 0 0 3rem;
	}
  
	.sample#title h1 {
		color: #000;
		font: 100 1.5rem/4rem 'Roboto';
	}

	.sample#title h2 {
		margin-bottom: 2rem;
		color: #000;
		font: 700 5.5rem/4.5rem 'Expletus Sans';
		text-transform: uppercase;
		letter-spacing: 0.5rem; 
	}

	.sample#title h3 {
		width: 40rem;
		margin: 0 0 4rem 0;
		color: #666;
		font: 300 2rem/3rem 'Open Sans';
	}
    
	.sample#title h3 a:hover {
		color: #222;
		font-weight: 700; 
	}

	.sample#title p, .sample#title ul {
		float: left;
		width: 28rem;
		margin: 0 3rem 0 0;
		color: #888;
		font: 300 0.9rem/1.3rem 'Roboto';
	}

	.sample#title p a {
		font: 300 0.9rem/1.3rem 'Roboto';
	}

	.sample#title ul {
		position: relative;
		top: 0px;
		width: 18.5rem;
		height: 1rem; 
		margin: 0;
	}

		.sample#title ul li a {
			position: relative;
			font: 300 0.7rem/0.7rem 'Roboto';
			text-transform: uppercase;
			vertical-align: middle;
		}

			.sample#title ul li a:hover {
				color: #222;
				font: 700 0.7rem/0.7rem 'Roboto';
			}
		      
			.sample#title ul li i {
				line-height: 0.8rem;
			}

	.sample#raleway {
		position: relative;
		height: 20rem;
		padding: 15rem 0;
		background: #362819 url('../../img/typography/new-york-web.jpg') no-repeat;
		background-size: 100%;
	}

		.sample#raleway .text {
			position: relative;
			width: 62.5rem; 
			margin: 0 auto;
			padding: 0 0;
		}

		.sample#raleway h2 {
			margin: 1rem 32rem 0 1.2rem;
			color: #FFFF00;
			font: 900 5rem/6rem 'Raleway';
			text-align: right;
			letter-spacing: 0.2rem;
		}

		.sample#raleway .first {
			position: relative;
			top: 0;
			left: 5rem;
			z-index: 10;
		}

		.sample#raleway .second {
			position: relative;
			top: -8.5rem;
			left: -1.4rem;
			z-index: 5;
		}
		
			.sample#raleway .first:hover, .first:not(:hover) + .second { 
				opacity: 0 
			}
	  
		.sample#raleway h3 {
			position: relative;
			width: 45rem;
			margin: -6rem 0 0 12rem;
			color: #FFF;
			font: 300 1.2rem/1.4 'Merriweather';
			text-align: justify;
		}

	.sample#alegreya {
		position: relative;
		height: 80rem;
		padding: 9rem 0;
		background: #FFF url('../../img/typography/pragser-wildsee-web.jpg') no-repeat;
		background-size: 100%;
		z-index: 2;
	}

	.sample#alegreya .text {
		position: relative;
		width: 70rem; 
		margin: 0 auto;
		text-align: center;
	}

	.sample#alegreya h2 span {
		position: relative;
		display: inline;
		width: 70rem;
		top: 2rem;
		margin: 0 auto 2rem auto;
		color: #E3170D;
		font: 900 8rem/12rem 'Alegreya Sans';
		letter-spacing: 3rem;
		text-transform: uppercase;
		opacity: 0.75;
	}

		.sample#alegreya h2 span:hover {
			background-color: rgba(227, 23, 13, 0.25);
			-webkit-box-shadow: -1rem 0px 0px rgba(227, 23, 13, 0.25);
			box-shadow: -1rem 0px 0px rgba(227, 23, 13, 0.25);
			box-decoration-break: clone;
			opacity: 1;
		}

	.sample#alegreya h3 {
		position: relative;
		top: 2rem;
		width: 20rem;
		margin: 1.5rem auto;
		padding: 2rem;
		color: #FFF;
		font: 700 1rem/1.5rem 'Alegreya Sans';
		text-align: center;
		letter-spacing: 0.4rem;
		text-transform: uppercase;
		opacity: 0.7;
	}

		.sample#alegreya h3:hover {
			background-color: rgba(0, 0, 0, 0.25);
		}

	.sample#monsieur {
		position: relative;
		background-size: contain;
		height: 20rem;
		padding: 15rem 0;
		background: #999999 url('../../img/typography/bergen-web.jpg') no-repeat;
		background-size: 100%;
	}

		.sample#monsieur .text {
			position: relative;
			width: 70rem; 
			margin: 0 auto;
			opacity: 0.75;
		}

			.sample#monsieur .text:hover {
				opacity: 1;
			}

		.sample#monsieur h2 {
			position: relative;
			top: 2rem;
			color: #FFD700;
			font: 300 3.5rem/6rem 'Monsieur La Doulaise';
			text-align: center;
		}

		.sample#monsieur h3 {
			position: relative;
			top: 2rem;
			width: 23rem;
			margin: 0 auto;
			color: #FFD700;
			font: 200 1rem/1.5rem 'EB Garamond';
			text-align: center;
			opacity: 0.7;
		}