#first {
  margin-top: -15px;
  padding-right: 10px;
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 2;
  background: #FFFFFF;
}

#extra {
  height: 400px;
}

#second {
  height: 100vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #FBFBFB;
}

#third {
  height: 78vh;
  position: relative;
  z-index: 2;
  background: #FFFFFF;
  padding-top: 175px;
}

.record {
  margin: 152px auto 152px auto;
  width: 50%;
}

.record img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.intro {
  margin: 125px auto;
  vertical-align: middle;
  width: 500px;
}

.intro p {
  font-style: italic;
}

.concl {
  margin: 115px auto;
  width: 900px;
}

.concl p.quote {
  font-family: 'Vollkorn', cursive;
  font-size: 45px;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  color: #000000;
}

.concl p.source {
  margin-top: -15px;
  padding-left: 100px;
  font-family: 'Vollkorn', cursive;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.desc {
  margin: 190px auto;
  width: 25%;
}

.desc p {
  font-style: italic;
}

.desc #spring {
  color: #009900;
}

.desc #summer {
  color: #FFE800;
}

.desc #autumn {
  color: #F9741A;
}

.desc #winter {
  color: #50A4AC;
}

.music {
  margin: 10px auto;
  width: 1010px;
}

.space {
  margin-bottom: 200px;
}

h1 {
  padding: 25px 0px;
  font-family: 'Unica One', cursive;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

p {
  font-family: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
  line-height: 1.2;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
  color: #888888;
  text-decoration: none;
}

a:hover {
  color: #222222;
  text-decoration: none;
}

.credit {
  display: block;
  margin: 15px 0 -65px 10px;
  padding-top: 15px;
  font: italic 11px Helvetica, Arial, sans serif;
  line-height: 1.5;
  color: #dddddd;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.credit a {
  color: #dddddd;
  text-decoration: none;
}
  
.credit a:hover {
  color: #888888;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
}

iframe {
  border: 0px none;
  display: block;
  margin: 0 auto;
}