h1 {
	padding: 25px 0px;
	color: #000000;
	font-family: 'Unica One', cursive;
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	color: #DDDDDD;
	font: italic 11px Helvetica, Arial, sans serif;
	line-height: 9px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

h2:hover {
	color: #888888;
}

p {
	color: #333333;
	font-family: 'Neuton', serif;
	font-size: 16px;
	font-weight: 200;
	text-align: center;
	line-height: 1.2;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

a {
	color: #888888;
	text-decoration: none;
}

a:hover {
	color: #222222;
	text-decoration: none;
}

img {
	display: block;
	margin: 0 auto;
}

iframe {
	display: block;
	border: 0px none;
	margin: 0 auto;	
}

.letter {
	margin: 50px 0;
}

.letter p {
	margin: 15px 50px;
	width: 500px;
	text-align: left;
}

hr {
    padding: 0;
    border: none;
    margin: 10px 25px;
    width: 550px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #BBB;
	font-family: 'Neuton', serif;
	font-size: 12px;
	font-weight: 200;
	text-align: center;
	line-height: 1.2;
}
hr:after {
    content: "\263E";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}