
body { 
  width: 100%;
  height: 100%;
  background: #C7D0D5 url('../img/make/slam.png') no-repeat center top;
}

h1 {
  font-family: 'Oswald', sans-serif;
  color: #38546B;
  font-size: 85px;
  font-weight: 700;
  line-height:100px;
  text-transform: uppercase;
  text-align: center;
  margin: 250px auto 150px auto;
}

h2 {
  font-family: 'Droid Serif', serif;
  color: #38546B;
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  margin: 46px 0 12px 0;
}

p {
  font-family: 'Droid Serif', serif;
  color: #546C7F;
  font-size: 15px;
  line-height: 23px;
  margin: 0 0 12px 0;
}

a {
  color: #38546B;
}

blockquote {
  font-family: 'Droid Serif', serif;
  color: #768997;
  font-size: 15px;
  font-style: italic;
  padding: 5px 5px;
}

.container {
  width: 65%;
  margin: 25px auto;
  padding-bottom: 75px;
}